#map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
    height:700px;
    /* width: 700px;
     left: 600px;*/
    z-index: 1;
}

body{
    background-color: black;
}

/* header */
.header {
    background-color: black;
}

.text-center {
    color: azure;
    font-size: 4.5em;
    font-weight: 200;
    padding-top: 3%;
}
/* Fin header */



/* InfoWindow */
.gm-style .gm-style-iw-c{
    padding: 0;
}

.gm-style .gm-style-iw-t::after{
    background: black;
}

.pano1{
    width:auto;
    min-height:200px;
    background-color: black;
    color: azure;
    padding: 5%;
}

p{
    font-size: 1.3em;
}

/* Fin InfoWindow */